[user]
	name = Frederic Noguier
	email = noguier@netguardians.ch
[core]
	excludesfile = /home/frederic/.gitignore_global
	editor=vim
[alias]
	lg=log --graph --abbrev-commit --decorate --date=relative --all
	l=log --oneline --format=%B -1
	st=status -s
	c=commit -v
	ca=c --amend
	cl=!git l > .fred_cl && git c -F .fred_cl && rm .fred_cl
	ci=!git add -A . && git c
	cia=!git ci --amend
	cil=!git l > .fred_cil && git ci -F .fred_cil && rm .fred_cil
	wip=!git ci -m "WIP"
	wipa=!git add -A . && git commit -v --amend -m "WIP"
	sw=switch
	swm=sw master
	swb=!git reflog | grep 'moving from' | head -n 1 | cut -d ' ' -f 6 | xargs -I% git sw %

[pull]
	ff = only
