[user]
	name = Frederic Noguier
	email = noguier@netguardians.ch
[core]
	excludesfile = /home/frederic/.gitignore_global
	editor=vim
[alias]
	lg=log --graph --abbrev-commit --decorate --date=relative --all
	l=log --oneline --format=%B -1
	st=status -s
	c=commit -v
	ci=commit -v -a
	ca=commit -v --amend
	cia=commit -v -a --amend
	wip=commit -am "WIP"
	sw=switch
